#s-915085f1-f8bf-4f2c-861b-836e6ba1752b > #backgroundBox {
  position: absolute;
}
#s-915085f1-f8bf-4f2c-861b-836e6ba1752b > #alignmentBox {
  position: relative;
}
#s-915085f1-f8bf-4f2c-861b-836e6ba1752b #s-Image {
  position: absolute;
  width: 1366.0px;
  height: 768.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-915085f1-f8bf-4f2c-861b-836e6ba1752b #s-Hotspot_1 {
  position: absolute;
  width: 203.00000000000009px;
  height: 120.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
}
#s-915085f1-f8bf-4f2c-861b-836e6ba1752b #s-Hotspot_2 {
  position: absolute;
  width: 278.0px;
  height: 100.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
}
#s-915085f1-f8bf-4f2c-861b-836e6ba1752b #s-Hotspot_3 {
  position: absolute;
  width: 141.9999999999999px;
  height: 118.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
}
#s-915085f1-f8bf-4f2c-861b-836e6ba1752b #s-Hotspot_4 {
  position: absolute;
  width: 185.0000000000001px;
  height: 85.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-915085f1-f8bf-4f2c-861b-836e6ba1752b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}